@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fjalla+One&display=swap');
:root {
    --preto: #000;
    --branco: #ffff;
    --verde: #127369;
    --verdeClaro: #8AA6A3;
    --verdeEscuro: #10403B;
    --fontAbel: 'Abel', sans-serif;
    --fontFjalla: 'Fjalla One', sans-serif;
}