
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100&family=Righteous&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    --verde: #127369;
    --verdeEscuro: #10403B;
    --verdeClaro: #8AA6A3;
    --cinzaEscuro: #4C5958;
    --cinzaClaro: #BFBFBF;
}

.meio {
    margin: 0 auto;
    width: 90%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: var(--verdeEscuro);
    width: 100%;
    height: 100%;
    color: var(--cinzaClaro);
}

header {

    width: 100%;
 
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: 15px;
}
.navbar a{
    text-transform: none;
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap:25px;
}

#toggle,.navbar label{display: none;}


.galeria {
 
    display: flex;
    
    margin-top: 20px;
}

.imagens {
    
    display: inherit;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.mapa,.imagens img{
    padding: 10px;
}
.mapa{
     flex: 1;
}
.imagens img {
   width: 250px;
   height: 190px;
   
}

.sobre{
    background-color: #127369;
    padding: 20px;
}
footer {
    height: 100%;
  
  
}
.rodape{
    display: flex;
    flex-wrap: wrap;
   

}
.rodape div{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.contato{
    display: flex;
    flex-direction: column;
}
