@import url(font-text.css);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

}

.logoParis {
    width: 200px;
}

.meio {
    margin: 0 auto;
    width: 90%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: var(--verde);
    width: 100%;
    height: 100%;
    color: var(--cinzaClaro);
}

header {

    width: 100%;

}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--branco);
    padding: 15px;
}

.navbar a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 50px;
}


.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.list li a {
    color: var(--verdeEscuro);
    font-family: var(--fontFjalla);
    font-weight: bolder;
    letter-spacing: 2px;
}

.list li a::after {
    content: "";
    display: block;
    background-color: var(--cinzaClaro);
    width: 0;
    height: 2px;

    bottom: 0px;
    transition: 0.5s
}

.list li a:hover:after {
    width: 100%;
    transition: 1s;
    background-color: var(--verdeEscuro);
}

#toggle, .navbar label {
    display: none;
}


.galeria {
    background-color: #127369;
    display: flex;

    margin-top: 20px;
}

.imagens {

    display: inherit;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    

    
}



.imagens img {
    width: 250px;
    height: 210px;
    cursor: zoom-in;
}

.sobre {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.sobre div.conteudosobre {
    width: 100%;
    background-color: var(--verde);
}

.mapa {
    width: 800px;
    padding: 20px 0px;
}

.titulo {
    font-family: var(--fontFjalla);
    font-size: 2em;
    position: relative;

}

.textoFormatado, .hino {
    font-family: var(--fontAbel);
    font-size: 1.4rem;
    word-wrap: break-word;
}

.hino {
    position: relative;
    top: -30px;

}


footer {
    height: 100%;


}

.rodape {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--branco);
    margin-bottom: 20px;
}

.rodape div {

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contato {

    display: flex;
    position: relative;
    flex-direction: column;
}

.contato h4 {
    font-size: 1rem;
    color: var(--verdeEscuro);
    margin: 0px;

}