@import url(font-text.css);
@media screen and (max-width:900px) {
    .titulo {
        font-size: 1.7em;
    }
    .fechaMenu {
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #ffffffb2;
        z-index: 1;
    }
    .menu {
        display: block;
        transition: 0.8s ease-in-out;
        width: 100%;
        max-height: 0%;
        overflow: hidden;
        z-index: 2;
        position: absolute;
        background-color: var(--verdeEscuro);
        top: 00px;
        height: 100vh;
    }
    .list {
        height: 100%;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0px;
    }
    .list li a {
        color: var(--branco);
    }
    .list li a:hover:after {
        background-color: var(--verde);
    }
    .navbar label {
        z-index: 3;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: var(--branco);
        border-radius: 10%;
        box-shadow: 0px 0px 2px rgba(5, 60, 00, 0.5);
    }
    #hamburguer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: var(--verdeEscuro);
    }
    #hamburguer::after {
        content: "";
        display: block;
        width: 40%;
        height: 2px;
        background: currentColor;
        transition: 1s ease;
        margin-top: 5px;
    }
    #hamburguer::before {
        content: "";
        width: 70%;
        height: 2px;
        transition: 1s ease;
        background: currentColor;
        margin-top: 5px;
    }
    #toggle:checked~label #hamburguer::before {
        transform: rotate(320deg);
        width: 50%;
    }
    #toggle:checked~label #hamburguer::after {
        position: relative;
        top: -7px;
        width: 50%;
        transform: rotate(-320deg);
    }
    #toggle:checked~.menu {
        max-height: 100%;
    }
    .apresentacao {
        flex-direction: column;
    }
    .fotoPrincipal {
        min-width: 20%;
        height: 300px;
    }
    .fotoApresentacao,
    .textoApresentacao {
        margin: 10px 0px;
    }
    .imagens img {
        min-width: 20%;
        height: 250px;
    }
    .logoParis {
        width: 200px;
    }
    .sobre {
        flex-direction: column;
    }
}